@font-face{
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face{
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}


html{
  height: 100%;
}

body{
  height: 100%;
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #F2F2F2;
}

.container{
  display:flex;
  flex-direction:column;
  background-color:#FFFFFF;
  margin:0 auto;
  width: 1200px;
  min-height: 100%;
  box-shadow:0 0 15px rgba(0, 0, 0, 0.2);
}

.main-conteiner{
  flex-grow:1;
}

/* header */
.page-header{
  width:1060px;
  margin:0 auto;
  display:flex;
  flex-wrap: wrap;
  z-index: 1;
}

.logo{
  width:140px;
  margin-right:28px;
}

.logo:hover{
  opacity:0.8;
}

.logo:focus{
  opacity:0.8;
  outline:none;
}

.logo:active{
  opacity:0.6;
}

.logo-header{
  display:block;
  position:absolute;
}

.navigation{
  display: flex;
  width:892px;
  margin:0 auto;
}

.navigation-list{
  margin:0;
  padding:0;
  list-style-type:none;
  display:flex;
  flex-wrap:wrap;
}

.navigation-link{
  font-size:20px;
  line-height: 24px;
  font-weight: 700;
  color:#000000;
  text-decoration: none;
  padding:20px 16px;
  display:block;
}

.navigation-menu{
  max-width:542px;
}

.navigation-user{
  max-width:350px;
  margin-left: auto;
}

.navigation-user-item{
  min-width: 44px;
  min-height: 64px;
}

.navigation-link-user{
  display: inline-block;
}

.navigation-link-search{
  padding:20px 13px;
}

.navigation-icon-state{
  fill:#000000;
}

.navigation-link-user:hover .navigation-icon-state{
  fill:#68A2CA;
}

.navigation-link-user:focus .navigation-icon-state{
  fill:#68A2CA;
}

.navigation-link-user:focus{
  outline:none;
}


.navigation-link-user:active .navigation-icon-state{
  fill:rgba(104, 162, 202, 0.3);
}

.navigation-user-favorites{
  padding:20px 12px;
  margin-right:20px;
  position: relative;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  }

.button{
  font:inherit;
  line-height: 20px;
  font-weight: 700;
  color:#FFFFFF;
  text-transform: uppercase;
  border:none;
  border-radius: 4px;
  cursor:pointer;
  box-sizing: border-box;
  padding:8px;
  display:inline-block;
}

.button-blue{
  background-color: #82B3D3;
}

.button-blue:hover{
  background-color: #68A2CA;
}

.button-blue:focus{
  background-color: #68A2CA;
  outline:none;
}

.button-blue:active{
  background-color: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}

.button-brown{
  background-color:#756157;
}

.button-brown:hover{
  background-color: #615048;
}

.button-brown:focus{
  background-color: #615048;
  outline:none;
}

.button-brown:active{
  background: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.current-green-button{
  background-color: #7DB54F;
}

.current-green-button:hover{
  background-color: #6C9E42;
}

.current-green-button:focus{
  background-color: #6C9E42;
  outline:none;
}

.current-green-button:active{
  background-color: #7DB54F;
  color: rgba(255, 255, 255, 0.3);
}

.navigation-user-button{
  display: flex;
}

.navigation-button{
  text-decoration: none;
  padding:8px;
  width:160px;
  text-align: center;
  margin:auto 0;
}

.navigation-link-current{
  text-decoration: underline #756257 solid 2px;
  text-underline-offset: 18px;
  text-underline-position: under;
}

.navigation-link-state:hover{
  color:#756157;
}

.navigation-link-state:focus{
  outline:none;
  color:#756157;
}

.navigation-link-state:active{
  color:rgba(117, 97, 87, 0.3);
}

.favorites-number{
  font-size: 10px;
  line-height: 10px;
  color:#FFFFFF;
  background-color: #7DB54F;
  padding:5px;
  border-radius:50%;
  position: absolute;
  top:11px;
  left:20px;
}

/* main */
.main-index{
  width:1200px;
  margin:0 auto;
}

/* main-index-html */
.hero{
  background-image: url("../images/index-background.jpg");
  color:#FFFFFF;
  background-color:#3e75a0;
  background-size: 100% auto;
  background-repeat: no-repeat;
  padding-top:51px;
  padding-bottom:82px;
  margin-bottom:69px;
  position: relative;
}

.hero::after{
  content:"";
  background-image:url("../images/index-background-figure.svg");
  background-repeat: no-repeat;
  position:absolute;
  width:1200px;
  height:57px;
  bottom:0;
}

.hero-container{
  width:458px;
  height:352px;
  margin:0 auto;
}

.center{
  text-align: center;
}

.slogan,
.search-hotel-title,
.subscribe-title{
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color:#000000;
  text-transform: uppercase;
  margin:0;
}

.slogan-text,
.search-hotel-text{
  font-size: 22px;
  line-height: 26px;
  margin:0;
}

.slogan-about{
  margin-bottom:25px;
}

.slogan-text-about{
  margin-bottom: 90px;
}

.advantages-list{
  margin:0;
  padding:0;
  margin-bottom:64px;
  list-style-type: none;
  display:grid;
  grid-template-columns: repeat(3, 400px);
  grid-template-rows: repeat(3, min-content);
  grid-auto-flow:row dense;
}

.advantages-item-block{
  box-sizing: border-box;
  padding:102px 20px;
  width: 400px;
}

.advantages-item-container{
  display:flex;
  grid-column: 1/-1;
}

.advantages-item-container-reverse{
  flex-direction: row-reverse;
}

.advantages-image-container{
  margin:0;
  width:800px;
  height:385px;
}

.advantages-title,
.services-title{
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color:#000000;
  text-transform: uppercase;
  margin:0;
}

.advantages-description,
.advantages-title{
  max-width:230px;
  margin:0 auto;
}

.advantages-title{
  margin-bottom:62px;
  position:relative;
}

.decorative-line-white::after{
  content:"";
  width:60px;
  height:2px;
  background-color:rgba(255, 255, 255, 0.3);
  position: absolute;
  right:50%;
  margin-right:-30px;
  top:86px;
}

.decorative-line-grey::after{
  content:"";
  width:60px;
  height:2px;
  background-color:rgba(0, 0, 0, 0.3);
  position: absolute;
  right:50%;
  margin-right:-30px;
  top:86px;
}

.dark-blue{
  color: #FFFFFF;
  background-color: #82B3D3;
}

.blue{
  background-color:rgba(131, 179, 211, 0.2);
}

.light-blue{
  background-color:rgba(131, 179, 211, 0.1);
}

.services-list{
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap:wrap;
  list-style-type:none;
}

.slogan-services,
.search-hotel-title{
  margin-bottom:20px;
}

.slogan-text-services{
  margin-bottom: 64px;
}

.services-title{
  margin-bottom:30px;
}

.services-text{
  margin:0;
}

.services-item{
  width:400px;
  padding:183px 85px 81px 85px;
  box-sizing: border-box;
  position: relative;

}

.services-house::before{
  content:url("../images/icons/services-house.svg");
  background-repeat: no-repeat;
  position: absolute;
  top:81px;
  right: 50%;
  margin-right: -36px;
}

.services-food::before{
  content:url("../images/icons/services-food.svg");
  background-repeat: no-repeat;
  position: absolute;
  top:81px;
  right: 50%;
  margin-right: -35px;
}

.services-souvenir::before{
  content:url("../images/icons/services-souvenir.svg");
  background-repeat: no-repeat;
  position: absolute;
  top:79px;
  right: 50%;
  margin-right: -38px;
}

.search-hotel{
  padding-top:96px;
  padding-bottom:96px;
}

.search-hotel-text{
  margin-bottom:54px;
}

.search-hotel-button{
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-decoration: none;
  width:376px;
  text-align: center;
  margin: 0 auto;
}

.subscribe{
  color:#FFFFFF;
  background-color:#3e75a0;
  background-image: url("../images/subscribe-image.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  padding-top:96px;
  padding-bottom:104px;
}

.subscribe-title-main{
  color:#FFFFFF;
  margin-bottom: 20px;
}

.subscribe-text{
  font-size: 22px;
  line-height: 26px;
  margin:0;
  margin-bottom: 54px;
}

.field{
  font:inherit;
  line-height: 24px;
  border: none;
  border-radius: 4px 0 0 4px;
  width:452px;
  padding-top:14px;
  padding-bottom:14px;
  padding-left:20px;
}

.field-inner{
  background-color: #F2F2F2 ;
}

.subscribe-button{
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  border-radius: 0 4px 4px 0;
  width:232px;
}

.subscribe-form{
  display:flex;
  justify-content: center;
}

/* footer */
.page-footer{
  display:flex;
  flex-wrap: wrap;
  width: 1060px;
  margin: 0 auto;
  justify-content: space-between;
  padding-top:45px;
  padding-bottom:35px;
  align-items: center;
}

.footer-contacts-phone{
  font-size: 40px;
  line-height: 40px;
  font-style: normal;
  color:#000000;
  text-decoration: none;
  text-align: center;
}

.footer-social{
  width: 170px;
}

.footer-social-list{
  display:flex;
  flex-wrap:wrap;
  list-style-type:none;
  margin:0;
  padding:0;
}

.footer-social-item{
  min-width: 48px;
  min-height: 40px;
}

.footer-social-button{
  display:flex;
}

.vkontakte{
  padding:13px 12px;
}

.telegram{
  padding:13px 15px;
}

.youtube{
  padding:12px 13px;
}

.footer-social-icon{
  fill:#83B3D3;
}

.footer-social-button:hover .footer-social-icon{
  fill:#68A2CA;
}

.footer-social-button:focus .footer-social-icon{
  fill:#68A2CA;
}

.footer-social-button:focus{
  outline:none;
}

.footer-social-button:active .footer-social-icon{
  fill:rgba(104, 162, 202, 0.3);
}

.footer-contacts{
  max-width:350px;
}

.footer-contacts-phone:hover{
  color:#756157;
}

.footer-contacts-phone:focus{
  color:#756157;
  outline:none;
}

.footer-contacts-phone:active{
  color:rgba(117, 97, 87, 0.3);
}

.footer-creator-image{
  width: 115px;
  display: flex;
}

.academy-logo{
  display:block;
}

.logo-html-academy{
  fill:#000000;
}

.footer-creator-image:hover .logo-html-academy{
  fill:#756157;
}

.footer-creator-image:focus .logo-html-academy{
  fill:#756157;
}

.footer-creator-image:focus{
  outline:none;
}

.footer-creator-image:active .logo-html-academy:active{
  fill:rgba(117, 97, 87, 0.3);
}

/* hotels-html */
/* main */
.inner-container{
  color:#FFFFFF;
  background-color: #3e75a0;
  background-image: url("../images/hotels-filter-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  padding:70px;
  padding-top:35px;
  margin-bottom:50px;
}

.inner-heder-filter-container{
  width:1060px;
  margin:0 auto;
}

.inner-title{
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  margin:0;
  margin-bottom:8px;
}

.breadcrumbs{
  list-style-type:none;
  display:flex;
  flex-wrap:wrap;
  margin:0;
  padding:0;
  margin-bottom:40px;
  align-items: center;
  position: relative;
}

.main-icon{
  padding-top:4px;
  padding-bottom:5px;
}

.item-icon{
  min-width: 12px;
  min-height: 12px;
  margin-right:28px;
}

.breadcrumbs-item a{
  font-size: 16px;
  text-decoration: none;
}

.breadcrumbs-icon-state{
  fill:#FFFFFF;
}

.breadcrumbs-link:hover .breadcrumbs-icon-state{
  fill:rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link:focus .breadcrumbs-icon-state{
  fill:#FFFFFF;
}

.breadcrumbs-link:focus{
  outline:none;
}

.breadcrumbs-link:active .breadcrumbs-icon-state{
  fill:rgba(255, 255, 255, 0.3);
}

.item-icon::after{
  content:url("../images/icons/arrow-white.svg");
  width:7px;
  height: 10px;
  position: absolute;
  left:23px;
}

.breadcrumbs-link-state:hover{
  color:rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link-state:focus{
  color:#FFFFFF;
  outline:none;
}

.breadcrumbs-link-state:hover{
  color:rgba(255, 255, 255, 0.3);
}
/* hotels-filter */
.hotels-filter{
  display:flex;
  flex-wrap: wrap;
}

.hotels-filter-list{
  list-style-type: none;
  margin:0;
  padding:0;
}

.hotels-filter-title{
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  padding:0;
  margin-bottom:32px;
}

.hotels-filter-group{
  width:150px;
  margin:0;
  padding:0;
  border:0;
}

.comfort{
  margin-right:70px;
}

.control-checkbox{
  position: relative;
  display:block;
  padding-left: 36px;
}

.control-mark{
  position: absolute;
  width:20px;
  height: 20px;
  border-radius: 4px;
  background-color: #FFFFFF;
  left:0;
}

.control-mark-checkbox{
  border-radius: 4px;
}

.control-mark-radio{
  border-radius: 50%;
}

.checkbox-item[type="checkbox"]:focus+.control-mark-checkbox,
.radio-item[type="radio"]:focus+.control-mark-radio{
  outline: 3px solid #83B3D3;
}

.checkbox-item[type="checkbox"]:active+.control-mark-checkbox,
.radio-item[type="radio"]:focus+.control-mark-radio{
  outline: 2px solid #83B3D3;
}

.checkbox-item[type="checkbox"]:checked+.control-mark-checkbox{
  background-image: url("../images/icons/checkbox.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.radio-item[type="radio"]:checked+.control-mark-radio::after{
  content:"";
  width:5px;
  height: 5px;
  border-radius: 50%;
  background-color: #3F5E72;
}

.control-label-checkbox,
.control-label-radio{
  line-height:23px;
}

.hotels-filter-item:not(:last-child){
  margin-bottom:16px;
}

.type-house{
  margin-right: 140px;
}

.control-radio{
  position: relative;
  display:block;
  padding-left: 36px;
}

.hotels-filter-group-price{
  width:288px;
  border:0;
  margin:0;
  padding:0;
  margin-right:70px;
  flex-shrink: 0;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button{
  appearance: none;
  margin: 0;
}

.range-wrapper-inputs{
  display: flex;
  justify-content: space-between;
  margin-bottom:36px;
}

.min-price-container{
  margin-right:2px;
  position: relative;
}

.max-price-container{
  position: relative;
}

.prompt-price{
  font:inherit;
  line-height:24px;
  color:rgba(0, 0, 0, 0.4)
}

.prompt-price-min,
.prompt-price-max{
  position: absolute;
  top:50%;
  margin-top:-14px;
  right:12px;
}

.range-input{
  width: 143px;
  padding:12px 20px;
  box-sizing: border-box;
  font:inherit;
  line-height: 24px;
  font-weight: 700;
}

.range-input:focus{
  outline:2px solid #000000;
}

.range-input:active{
  outline:2px solid #000000;
}

.range-input-min{
  border-bottom-left-radius:4px;
  border-top-left-radius:4px;
  border:none;
  padding-right:31px;
}

.range-input-max{
  border-bottom-right-radius:4px;
  border-top-right-radius:4px;
  border:none;
  padding-right:34px;
}

.range-scale{
  position: relative;
  height:4px;
  background-color: rgba(255, 255, 255, 0.3)
}

.range-bar{
  position: absolute;
  height:4px;
  background-color:#FFFFFF;
}

.range-toggle{
  position:absolute;
  width: 20px;
  height: 20px;
  background-color: #FFFFFF;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.range-toggle:hover{
  background-color: #FFFFFF;
}

.range-toggle:active,
.range-toggle:focus{
  background-color: #FFFFFF;
  outline:3px solid #83B3D3;
}

.toggle-min{
  top:-8px;
  left:0;
}

.toggle-max{
  top:-8px;
  right:0;
}

.filter-button{
  width:191px;
  padding-top:56px;
}

.hotels-filter-button{
  text-align:center;
  width:191px;
}

.select{
  margin-bottom:32px;
}

.reset{
  background-color: transparent;
}

.reset:hover{
  color: rgba(229, 229, 229, 1);
}

.reset:focus{
  color:#FFFFFF;
  outline: 3px solid #83B3D3;
  border-radius: 4px;
}

.reset:active{
  color:rgba(255, 255, 255, 0.3);
  outline:none;
}

/* view-filter */
.view-filter{
  width:1060px;
  margin:0 auto;
  display:flex;
  flex-wrap: wrap;
  margin-bottom:40px;
  align-items: center;
  justify-content: space-between;
}

.search-result{
  max-width:400px;
}

.right-filter{
  display:flex;
  flex-wrap: wrap;
}

.catalog-hotels-text{
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color:#000000;
  margin:0;
}

.select-control{
  font:inherit;
  width:292px;
  border:2px solid #E5E5E5;
  border-radius: 4px;
  margin-right:70px;
  padding:14px 34px 14px 20px;
  box-sizing: border-box;
  appearance: none;
}

.view-button-filter-list{
  min-width:160px;
  display:flex;
  flex-wrap: wrap;
  margin: 0;
  padding:0;
  list-style-type: none;
}

.view-button-filter-item{
  margin-right:8px;
}

.view-button{
  width:48px;
  height: 48px;
  padding:17px 16px;
  display:flex;
  border:2px solid #E5E5E5;
  border-radius: 4px;
  cursor: pointer;
  box-sizing: border-box;
}

.view-button-current{
  border-color:#000000;
}

.view-button:hover{
  border-color:#000000;
}

.view-button:focus{
  border: 2px solid #68A2CA;
  outline:none;
}

.view-button:active{
  border-color:#000000;
}

.view-button-filter-list .view-button-filter-item:last-child{
  margin-right: 0;
}

/* catalog-hotels */
.hotel-list{
  list-style-type:none;
  width:1060px;
  margin:0 auto;
  padding: 0;
  display:grid;
  grid-template-columns:repeat(3, 340px);
  gap:20px;
  margin-bottom:80px;
}

.hotel-card{
  box-sizing: border-box;
  border:1px solid #E6E6E6;
  border-radius: 4px;
  padding:20px;
  display:grid;
  grid-template-columns: 140px 140px;
  grid-template-rows: auto repeat(3, min-content);
  grid-column-gap:20px;
  grid-row-gap:16px;
}

.hotel-card-link{
  grid-column: 1/-1;
}

.hotel-card-image{
  object-fit: contain;
  margin-bottom:16px;
}

.hotel-card-price{
  justify-self: end;
}

.hotel-card-button{
  text-align:center;
  align-self:center;
}

.hotel-card-rating{
  text-align: center;
  padding:8px;
}

.hotel-card-title{
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  margin:0;
}

.hotel-card a{
  text-decoration: none;
  color:#000000;
}

.hotel-card-rating{
  background-color:#F2F2F2;
  border-radius: 4px;
}

li a:nth-of-type(2){
  color:#FFFFFF;
}

/* pagination */
.pagination{
  width:1060px;
  margin:0 auto;
  padding: 0;
  display:flex;
  flex-wrap: wrap;
  list-style: none;
  margin-bottom:60px;
}

.pagination-link{
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color:#FFFFFF;
  background-color: #82B3D3;
  border-radius: 4px;
  display:block;
  box-sizing:border-box;
  min-width:60px;
  height: 60px;
  padding:10px;
}

.pagination-item:not(:last-child){
  margin-right: 8px;
}

.pagination-link-state:hover{
  background-color: #68A2CA;
  color:#FFFFFF;
}

.pagination-link-state:focus{
  background-color: #68A2CA;
  outline:none;
}

.pagination-link-state:active{
  background-color: #82B3D3;
  color:rgba(255, 255, 255, 0.3);
}

.pagination-current{
  color:#000000;
  background-color: #F2F2F2;
}

.pagination-item a{
  text-align: center;
  text-decoration: none;
}

.more-pages{
  color:#000000;
  background-color: #FFFFFF;
  padding-top:16px;
  padding-bottom:17px;
}

/* subscribe-inner */
.subscribe-inner{
  color:#000000;
  padding-top:96px;
  padding-bottom: 104px;
}

.subscribe-title-inner{
  margin-bottom: 20px;
}
